<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CoDE_Proyect.CODE" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="cn" connectionString="Data source=(local); Initial Catalog=CODE; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <userSettings>
    <CoDE_Proyect.CODE>
      <setting name="Admin_User" serializeAs="String">
        <value>Administrador</value>
      </setting>
      <setting name="Admin_Pass" serializeAs="String">
        <value>Sesi0nDeAdmin!*</value>
      </setting>
      <setting name="Verif_Escan" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Email_User" serializeAs="String">
        <value>code.proyect.contacto@gmail.com</value>
      </setting>
      <setting name="Email_Pass" serializeAs="String">
        <value>Contr0lDeEstudiantes!*</value>
      </setting>
      <setting name="Email_Host" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="Email_Puerto" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="Turnos" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Matutino</string>
            <string>Vespertino</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Carreras" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Carrera1</string>
            <string>Carrera2</string>
            <string>Carrera3</string>
            <string>Carrera4</string>
            <string>Carrera5</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Grupos" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Grupo1</string>
            <string>Grupo2</string>
            <string>Grupo3</string>
            <string>Grupo4</string>
            <string>Grupo5</string>
            <string>Grupo6</string>
            <string>Grupo7</string>
            <string>Grupo8</string>
            <string>Grupo9</string>
            <string>Grupo10</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Email_Body" serializeAs="String">
        <value>Buen día, este mensaje fue envíado por el centro de estudios donde estudia su hij@.
El propósito de este email es que verifique los datos y la identidad para que esta información sea usada mientras su hij@ es alumn@ de este centro de estudios.
A continuación se muestra la información junto con una foto adjunta.</value>
      </setting>
      <setting name="ServidoresConn" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.</string>
            <string>(local)</string>
          </ArrayOfString>
        </value>
      </setting>
    </CoDE_Proyect.CODE>
  </userSettings>
</configuration>